= form_for @post, class: "form-horizontal" do |f|
  .form-group
    = f.label :level, class: "col-sm-2 control-label"
    = f.number_field :level, class: "form-control", step: 0.1
  .form-group
    = f.label :notes, class: "col-sm-2 control-label"
    = f.text_area :notes, class: "form-control"
  = f.submit 'Save', class: "btn btn-primary btn-block"
