%tr
  %td
    = post.id
  %td
    = post.created_at.to_date
  %td
    = post.level
  %td
    = link_to '',
    post_path(post),
    id: "post_#{post.id}",
    class: 'glyphicon glyphicon-book'
  %td
    = link_to '',
    edit_post_path(post),
    id: "edit_#{post.id}",
    class: 'glyphicon glyphicon-pencil'
  %td
    = link_to '',
    post_path(post),
    method: :delete,
    id: "delete_#{post.id}",
    class: 'glyphicon glyphicon-trash',
    data: { confirm: 'Are you sure?' }
