%h1 Posts

%div#post-chart

#reportrange.pull-left
	%i.glyphicon.glyphicon-calendar.fa.fa-calendar.lg
	%b.caret
	%br
	%span
%br

= form_tag({controller: 'posts', action: 'rails_search'}, method: 'get', class: 'form-horizontal') do
	= label_tag(:start_date, "From:")
	= date_field(:post, :start_date, required: true)
	= label_tag(:end_date, "To:")
	= date_field(:post, :end_date, required: true)
	= submit_tag('Update')

= line_chart @levels

%br
%table.table.table-striped.table-hover
	%thead
		%tr
			%th #
			%th Date Created
			%th Level
			%th
			%th
			%th
	%tbody
		= render @posts

= link_to '',
	new_post_path,
	id: 'new_post',
	class: 'btn btn-primary btn-lg center-block glyphicon glyphicon-plus'
